<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand " >BIG BOYZ TOYS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink='/'>Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/pro'>Addproducts</a>
          </li>
          <li class="nav-item dropdown" *ngIf='logged'>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ACCOUNTDELETION
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink='/remove'>AREYOUSURE</a>
              <a class="dropdown-item" routerLink='/'>NOTSURE</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
    
     <div *ngIf='!logged'>
       <button class="btn btn-primary btn-danger" routerLink='/login'   type='submit'>LOGIN</button>
       <button class="btn btn-primary btn-success" routerLink='/signup' type='submit'>SIGNUP</button>
       
    </div>
    <div *ngIf='logged'>
      <button (click)='logout()' routerLink='/' class="btn btn-primary btn-success" type='submit'>LOGOUT</button>
  </div>
  </div>
    </nav>